/*
section.subapartado:hover article.info{
    height: 180px;
}

Para realizar el menú oculto hay que utilizar la pseudoclase hover, ya que esta interactúa cuando 

el mouse pasa por encima del dicho elemento


RECORDAR QUE 
<nav class="nav1" >

*/



*{
    margin: 0;
    padding: 0;
}
body{
    width: 1500px;
    height: 1000px;
    margin: auto;
}

header{
    background-color: #B0D0D3;
    height: 100px;
    font-size: 30px;
    text-align: center;
}
.nav1{
    background-color: #C08497;
    height: 20px;
    
    font-size: 20px;
    text-align: center;
}

h2 .nav1{
    visibility: hidden;
}

.nav1:hover{
    height: 100px;
}



.nav2{
    background-color: #F7E3AF;
    width: 300px;
    height: 600px;
    float: left;
    margin-top: 100px;
    text-align: center;

}
section{
    background-color: #F7AF9D;
    width: 1500px;
    height: 1000px;
    text-align: center;
}
aside{
    background-color: #F7E3AF;
    width: 300px;
    height: 600px;
    float: right;
    margin-top: 100px;
    text-align: center;

}
.article1{
    background-color: #F7E3AF;
    
    width: 700px;
    height: 400px;
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    text-align: center;
    margin-top: 20px;

    
}

.article2{
    background-color: #F3EEC3;
    
    width: 700px;
    height: 400px;
    margin-right: 100px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40px;

}
footer{
    padding-top: 40px;
    background-color: #B0D0D3;
    height: 100px;

    font-size: 20px;
    text-align: center;
    
}

.botoncito{
    margin: 20px;
  

    
    
}
.formulario{

    padding-top: 30px;
}

.texto{
    font-size: auto;
}










/*
*{
    padding: 0px;
    margin:0px;
    font-family: monospace;
    font-size: larger;
}
body{
    background-color: rgb(160, 204, 200);
    
    margin: auto;
    
}
.titulo{
    font-size: 100px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-bottom: 10px double beige;
    
}
#principal{
    width: 600px;
    min-height: 100px;
    background-color: greenyellow;
    border-radius: 10px;
    overflow:hidden;
    
}
.subapartado{
    width: 600px;
    min-height: 50px;
    background-color: indianred;
}
section.subapartado:hover article.info{
    height: 180px;
}


article.info{
    color: cornflowerblue;
    width: 600px;
    height: 0;
    transition: height 1s;

}

article.info{
    background-color: rgb(221, 16, 143);
}

/*

A la propiedad margin se le pueden agregar varias propiedades 

Se pueden definir dos etiquetas en en una clase = ejemplo 

.titulo p {}

En este caso todos los párrafos que esten dentro de la clase título se verán afectados

en el caso contrario se puede hacer en 
p.titulo

overflow:hidden


*/





